#notFound {
	margin: 50px 20px;
	display: flex;
	padding: 60px 30px;
	border-radius: 20px;
	background: #1d2e3d;
	align-items: center;
	gap: 5px;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	box-shadow: rgba(0, 0, 0, 0.5) 2px 10px 15px;
}

#notFound a {
	color: white;
}

#header {
	font-size: 3em;
}

#description {
	font-size: 1.3em;
	width: 50%;
}

@media (min-width: 800px) {
	.notFound {
		width: 60vw;
		border-radius: 20px;
		height: 65vh;
	}
}
