.row {
	display: flex;
	align-items: center;
	padding: 20px;
	gap: 5rem;
	justify-content: center;
	width: 100%;
}

.about {
	text-align: center;
	font-size: 1.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px;
}

.textArticle p {
	margin: 14px 0 40px;
	max-width: 40rem;
}

.images a {
	text-decoration: none;
}

.images img {
	width: 200px;
}

@media (max-width: 1500px) {
	.row {
		flex-direction: column;
	}
}
