.jumbo {
	display: flex;
	padding: 1rem 1.5rem;
	flex-direction: column;
	align-items: center;
}

.jumbo.standalone {
	max-width: 80rem;
	scale: 1;
}

.more {
	color: white;
	margin-top: 1.5rem;
	padding: 1rem;
	border: 2px solid var(--primary);
	border-radius: 20rem;
	backdrop-filter: blur(2rem);
	background: rgb(0 0 0 / 0.3);
	box-shadow: 0 0 2rem black;
	transition: scale 0.2s;
}

.more:hover {
	scale: 1.05;
	text-decoration: underline;
}

.date {
	color: var(--muted);
}

.top {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-bottom: 1rem;
}

.title {
	font-size: 2.8em;
	margin: 0.2em;
	text-align: center;
}

.description {
	font-size: 1.4rem;
	max-width: 60rem;
	width: 100%;
}

.description :is(h1, h2, h3) {
	margin: 1rem 0;
}

.description h1 {
	font-size: 2.2rem;
}

.description h2 {
	font-size: 1.7rem;
}

.links {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.links * {
	font-size: 1.2rem;
}

.links a {
	color: white;
}

.links span {
	color: var(--muted);
}
