.link {
	text-decoration: none;
	width: 100%;
	color: unset;
}

.rss {
	top: 1rem;
	right: 1rem;
	position: absolute;
}

.rss a {
	color: var(--primary);
}

.rss svg {
	height: 2rem;
}

.description {
	border: 2px solid var(--primary);
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
}

.description h1 {
	font-size: 2.8rem;
	margin: 1rem;
}

.description p {
	font-size: 1.5rem;
	margin: 0.3rem;
	text-align: justify;
}

.right {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	gap: inherit;
}

.right p {
	max-width: 40rem;
}

.sidebar {
	display: flex;
	position: sticky;
	gap: 1rem;
	top: 8rem;
	height: 80vh;
	flex-direction: column;
	width: 20rem;
}

.container {
	display: flex;
	gap: 2rem;
	width: 100%;
}

.category.selected {
	color: var(--primary);
	font-weight: bold;
}

.category {
	text-decoration: none;
	color: white;
	font-size: 1.3rem;
}

.categories {
	display: flex;
	gap: 0.2rem;
	flex-direction: column;
}

@media (max-width: 850px) {
	.sidebar {
		position: static;
		width: 100%;
		height: unset;
	}

	.container {
		flex-direction: column;
	}
}
