.button {
	display: flex;
	background: rgb(0 0 0 / 0.1);
	border: 2px solid var(--secondary);
	backdrop-filter: blur(20px);
	border-radius: 20px;
	padding: 20px;
	text-decoration: none;
	white-space: nowrap;
	height: 100%;
	color: var(--text-primary);
	justify-content: center;
}

.button:hover {
	background: rgb(0 0 0 / 0.3);
}
