.hire {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3rem;
}

.hireTitle {
	font-size: 2rem;
	margin: 0;
}

.jobs {
	margin: 0 auto 2rem;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.hire button {
	width: 100%;
	max-width: 40rem;
}

.jobDescription {
	font-size: 1.5rem;
	max-width: 40rem;
	text-align: justify;
}
