:root {
	color-scheme: dark light;
	scroll-behavior: smooth;

	--primary: hsl(211 26% 39%);
	--secondary: hsl(209 28% 29%);
	--secondary-hover: hsl(209 28% 25%);
	--text-primary: hsl(0 0% 100%);
	--secondary-text: hsl(211 26% 39%);
}

body {
	font-family: "Lato", -apple-system, Roboto, "Helvetica Neue", Arial,
		"Noto Sans", sans-serif;
	margin: 0;
	background-attachment: fixed;
	background-image: url("/images/background.jpg");
	color: var(--text-primary);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

svg {
	vertical-align: middle;
}

img {
	max-width: 100%;
}

main {
	display: flex;
	gap: 3rem;
	flex-direction: column;
	align-items: center;
	padding-bottom: 10em;
}

main > section {
	display: flex;
	flex-direction: column;
	border-radius: 1rem;
	background: rgb(0 0 0 / 0.3);
	padding: 2rem;
	width: 90%;
	scroll-margin: 1rem;
	transition: scale 0.2s;
}

main > section:hover {
	scale: 1.03;
}

@media (min-width: 500px) {
	main > section {
		scroll-margin: 6rem;
	}
}
