.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: bold;
	background: hsl(0 0% 0% / 0.4);
	font-size: 1.4rem;
	top: 0;
	z-index: 1;
	padding: 1.2rem;
}

.nav section {
	display: flex;
	align-items: center;
	gap: 0.5em;
}

.nav :is(svg, img) {
	height: 2rem;
}

.nav button {
	background: transparent;
	border: none;
	cursor: pointer;
	color: inherit;
}

.nav button:hover {
	color: var(--secondary-text);
}

.nav a {
	display: flex;
	align-items: center;
	color: inherit;
	white-space: nowrap;
	text-decoration: none;
}

.nav a:hover {
	color: var(--secondary-text);
}

@media (min-width: 500px) {
	.nav {
		position: sticky;
	}
}

@media (max-width: 400px) {
	#logo + a {
		display: none;
	}
}
