.longDescription {
	font-size: 1.5rem;
	text-align: justify;
	max-width: 40rem;
}

#thumb {
	height: 10rem;
}

.overview {
	width: 100%;
	font-size: x-large;
	text-align: center;
}

.screenshot {
	padding: 20px;
}

#jumbo {
	padding: 2rem;
}

.image img {
	max-height: 450px;
	max-width: 100%;
	padding: 0;
	border-radius: 0.5rem;
	border: 3px solid var(--primary);
}

.longDescription h2 {
	display: flex;
	justify-content: center;
}

.title {
	font-size: 2.6em;
	margin: 0.2em;
	text-align: center;
}

.row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: row;
	gap: 4rem;
}

@media (max-width: 1300px) {
	.row {
		flex-direction: column;
	}
}

.buttonRow {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 1rem;
	flex-wrap: wrap;
}

.buttonRow > * {
	flex: 1;
}
