.up {
	position: fixed;
	width: 3em;
	bottom: 1em;
	transition: visibility 1s, opacity 1s;
	right: 1em;
}

.up[aria-hidden="true"] {
	visibility: hidden;
	opacity: 0;
}

.up a {
	padding: 0.4em;
}

.up svg {
	color: hsl(209 28% 60%);
	width: 100%;
}
