---
import styles from "../styles/NotFound.module.css"
import Layout from "../layouts/Layout.astro"
---

<Layout page="Not Found">
	<div id={styles.notFound}>
		<h1 id={styles.header}>Page not found.</h1>
		<span id={styles.description}>
			We couldn't find that page. Please return to our <a href="/">
				home page
			</a>.
		</span>
	</div>
</Layout>
