---
import styles from "../styles/Button.module.css"

export interface Props {
	href: string
	title?: string
	newTab?: boolean
}

const { href, newTab, title } = Astro.props
---

<a
	href={href}
	class={styles.button}
	title={title}
	target={newTab ? "_blank" : ""}
>
	<slot />
</a>
