---
import styles from "../styles/Divider.module.css"
import { Icon } from "astro-icon"
---

<div class={styles.container}>
	<span class={styles.dividerIcon}>
		<Icon name="fa:star" />
	</span>
</div>