---
import styles from "../styles/Hire.module.css"
import Contact from "./Contact.astro"
import Divider from "./Divider.astro"
---

<section id="hire" class={styles.hire}>
	<h2>Hire Me</h2>
	<Divider />
	<p class={styles.jobDescription}>
		I can create custom experiences for you, from a Discord server to a
		whole website, at reasonable prices. You can trust my years of
		JavaScript, HTML, and CSS experience. I am also skilled with Astro,
		useful for making static sites.
	</p>
	<ul class={styles.jobs}>
		<li>
			<a href="/discord-bot-developer">Custom Discord Bots from $30</a>
		</li>
		<li>Personalized Discord Server from $20</li>
		<li>Bespoke Website from $50</li>
	</ul>
	<Contact />
</section>
