---
import RoundDivider from "./RoundDivider.astro"
import styles from "../styles/Jumbo.module.css"
import Divider from "./Divider.astro"
---

<header>
	<section id={styles.jumbo}>
		<div>
			<h1>Henry Hiles</h1>
			<Divider />
			<span id={styles.shortAbout}>
				Full Stack .NET Developer & Discord Bot Developer
			</span>
		</div>
		<RoundDivider />
	</section>
</header>
