---
import styles from "../styles/Jumbo.module.css"
import Divider from "./Divider.astro"
---

<header>
	<section id={styles.jumbo}>
		<!-- <h1>Henry Hiles</h1> -->
		<img
			id={styles.logoLong}
			src="/images/logoLong.svg"
			alt="Henry Hiles"
		/>
		<Divider />
		<span id={styles.shortAbout}>
			Full Stack .NET Developer & Discord Bot Developer
		</span>
		<!-- <RoundDivider /> -->
	</section>
</header>
