---
import { Icon } from "astro-icon"
import styles from "../styles/Nav.module.css"
---

<nav class={styles.nav}>
	<section>
		<a href="/">
			<img src="/images/logo.svg" alt="Henry Hiles" />
		</a>
		<a href="/#">Home</a>
		<a href="/#portfolio" class={styles.hide}>Projects</a>
		<a href="/#about" class={styles.hide}>About</a>
		<a href="/#hire">Hire</a>
		<a href="/blog">Blog</a>
	</section>
	<section>
		<a
			target="_blank"
			rel="noreferrer"
			href="https://github.com/Henry-Hiles"
		>
			<Icon name="mdi:github" />
		</a>
	</section>
</nav>
