---
import { Icon } from "astro-icon"
import styles from "../styles/Nav.module.css"
---

<nav class={styles.nav}>
	<section>
		<a href="/" id={styles.logo}
			><img src="/images/logo.svg" alt="Henry Hiles" /></a
		>
		<a href="/#">Home</a>
		<a href="/#portfolio">Projects</a>
		<a href="/#about">About Me</a>
	</section>
	<section>
		<a
			target="_blank"
			rel="noreferrer"
			href="https://github.com/Henry-Hiles"
		>
			<Icon name="mdi:github" />
		</a>
	</section>
</nav>
